
/* Shared style */
.primary-bg-color{
    background-color: #FFF8F3;
}
.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.btn-primary{
    background-color: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}
.section-title{
    font-weight: bold;
    font-size: 35px;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}


/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav ul a{
    text-decoration: none;
}

/* banner styles */
.banner-greatings{
    font-weight: 600;
    font-size: 45px;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-description{
    font-size: 18px;
}
.banner-content{
    width: 585px;
    line-height: 30px;
}
.banner-profile-pic{
    width: 584;
    height: 675;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 32px 0 150px;
}

/* header styles */
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: left, right bottom;
}

/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
}


/* about style */
.about{
    padding: 131px 157px;
    border-radius: 10px;
    margin-top: 130px;
    text-align: center;
}
.section-content{
    border: 1px solid gray;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: 600;
}
.item-title{
    color: #474747;
}

/* skills styles */
.skills .title-container{
    text-align: center;
    margin: 0 115px;
}
.skill-cards{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;

}
.card-title{
    font-size: 20px;
    font-weight: bold;
}
.skill-card{
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}


/* Resume styles */
.resume-column-container{
    display: flex;
    gap: 24px;
}
.resume-title, .resume-btn{
    text-align: center;
}
.resume-btn{
    margin-top: 50px;
}
.column-title{
    font-size: 30px;
    font-weight: bold;
    color: rgba(71, 71, 71, 1);
}
.experience-title{
    font-size: 25px;
    font-weight: bold;
    color: rgba(71, 71, 71, 1);
}
.experience-sub-title{
    font-size: 20px;
    font-weight: 600px;
    color: rgba(117, 117, 117, 1);
}
.experience-description{
    font-size: 16;
    color: rgba(117, 117, 117, 1);
}

.resume-container h5{
    margin: 5px;
    padding: 0;
}



/* footer styles*/
footer{
    margin-top: 200px;
    display: flex;
    padding: 180px 200px;
}
footer input[type="text"], input[type="email"], textarea{
    margin-bottom: 20px;
    width: 100%;
    /* height: 60px; */
    border-radius: 5px;
    border: none;
    padding: 18px 30px;

}